#row{
    /* centers row in images div */
    margin-left: auto;
    margin-right: auto;
    text-align:center; /* centers images in row*/
}

img {
    border-radius: 1vw;
    padding: .2vw;
}

#row1Img1, #row1Img2 {
    height: 36.5834039516395vw;
}
  
#row2Img1, #row2Img2 {
    height: 46.88644688644688vw;
}

#row3Img1 {
    width: 75vw;
}

@media screen and (max-width: 1400px) {
    #row1Img1, #row1Img2 {
        height: 33.168952916153145vw;
    }
    #row2Img1, #row2Img2 {
        height: 42.51037851037851vw;
    }
    #row3Img1 {
        width: 68vw;
    }
}

@media screen and (max-width: 1050px) {
    #row1Img1, #row1Img2 {
        width: 90%;
        height: auto;
    }
    #row2Img1, #row2Img2 {
        width: 90%;
        height: auto;
    }
    #row3Img1 {
        width: 90%;
    }
}