#artTitle{
    font-size:4em;
    text-align:center;
}

img {
    border-radius: 1vw;
    padding: .2vw;
}


#morningSection {
    display: flex;
    flex-direction: row;
    align-items: flex-start;/*items positioned beginning of the container, 'normal' (default) stretches image*/
    padding-top: 1%;
    padding-left: 3%;
    padding-right: 3%; 
}

#arrorImgsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
#mainImgMorning {
    height: 36vw;
}
.arrows{
    position: absolute;
    display: flex;
    justify-content: space-between; 
    font-size:4vw;
    color: #FFCBE0;
    width: 64.25vw;
    pointer-events: none;
}

.arrows {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

#leftArrow, #rightArrow{
    padding: 2vw;
    pointer-events: auto;
}

#imgScrollContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: auto; /* makes scrollbar on div, not universal*/
    flex-wrap: nowrap;  
    height: 36vw;  
}
.morningImgs {
    width:90%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1400px) {
    #morningSection {
        flex-direction: column;
        justify-content: left; 
        align-items: center;
    }

    #mainImgMorning {
        width: 90%;
        height: auto;
    }
    
    #imgScrollContainer {
        flex-direction: row;
        width: 90%;
        height: auto;
        padding-top:.5vw;
    }
    .morningImgs {
        width:20vw;
    }
}


@media screen and (max-width: 1150px) {
    .arrows{
        width: 60vw;
    }
}


@media screen and (max-width: 1100px) {
    #artTitle{
        font-size:3em;
        text-align:center;
    }
    #morningSection {
        padding-top: 2%;
        
    }

    #imgScrollContainer {
        height: 30vw;
        flex-wrap: wrap;
    }
    .morningImgs {
        width:48%;
        margin-left: 0;
        margin-right: 0;
    }
}


@media screen and (max-width: 1000px) {
    .arrows{
        width: 55vw;
    }
}

@media screen and (max-width: 900px) {
    .arrows{
        width: 50vw;
    }
}

@media screen and (max-width: 750px) {
    .arrows{
        width: 45vw;
    }
}


@media screen and (max-width: 600px) {
    #artTitle{
        font-size:2em;
        text-align:center;
    }
    
    #imgScrollContainer {
        padding-top:1.5vw;
        width:90%;
        height: 60vw;
    }
    .morningImgs {
        width:48%;
    }
    #leftArrow, #rightArrow{
        padding: 8%;
    }
    .arrows{
        font-size:10vw;
        width: 85%;
    }
}