* {
  margin: 0;
  cursor:url(cursors/cursorFish.cur), default;
}

body {
  background-color: black; /* same as #ffcc99 */
  font-family:'Roboto',verdana;
  color: white;
  font-size: 100%; /* set font size as % in body for equal scale on all pages*/
}

a { text-decoration: none; color: #FFCBE0;}
a:visited { text-decoration: none; color: #FFCBE0;}
a:hover { text-decoration: none; color:#D0A5B7; }
a:focus { text-decoration: none; color:#D0A5B7; }
a:active { text-decoration: none;  color: #D0A5B7;}


#topBarMobile {
  position: absolute;
  left: 0;
  right:0;
  display: flex;
  justify-content: space-between; /* makes space between all objects in this container equal (even distribution)*/
  align-items: center;
  display: none;  
}
#navOpenButton {
  color: #FFCBE0;
  font-size:3em;
  padding-left: .5em;
}
#titleMobile {
  color: #FFCBE0; 
  font-size:4.5em;
  font-weight: bold;
  padding-right: .3em;
}


#sideBarMobile {
  position: fixed;
  display: none;
  flex-direction: column;
  padding-top: .3em;
  width:50%;
  height:100%;
  background-color: black;
  left: -50%; /*stays outside of screen on left and transitions with functions*/
  transition-duration: .5s;
}
#navCloseButton {
  color: #FFCBE0; 
  font-size: 4em;
  padding-left: .4em;
  padding-bottom: .2em;
}
.navButtonMobile {
  font-size:5vw;
  padding-left: .5em;
  padding-top: .5em;
  padding-bottom: .5em;
  border-top: thin solid #FFCBE0;
}
.navButtonMobileBorder {
  border-top: thin solid #FFCBE0;
}


/* Sidebar contains title and navigation choices*/
#sidebar {
  position: fixed; /* fixed postion keeps it stationary and prevents scrolling*/
  color: #FFCBE0; 
  padding-left: 1em;/*vw margin size - viewport width changes on browser size*/
  height: 100%;
  font-weight: bold;
  font-size:1em;
  /*testing purposes*/
  /* border: thin solid white; */
}
#title {
  font-size:5.5em;
}
#sidebarInfo {
  position: fixed; /* allows 'about me' and 'contact' to be put on bottom left corner always*/
  bottom: 1em;
}

#mainBody {
  padding-top:6em;
  margin-left:18.8em;
  height: 100%;
}


/* bandaid fix so that fish cursor works at all times*/
#fullCursor {
  position: fixed;
  margin-left:18.8em;
  height: 100%;
  width: 100%;
}


.imgShowcase:hover {
  opacity: .8;
  transition: transform 0.4s;
  transform: scale(0.99);
}
#imgPreviewContainer {
  position: fixed;
  float:none;
  text-align:center;
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.9);
  display: none;
}
.closebtn {
  position: absolute;
  top: 1%;
  right: 1%;
  color: white;
  font-size: 3em;
  cursor: pointer;
}
#imgPreview {
  margin-top:2em;
  max-width: 90%;
  max-height: 90%;
}


@media screen and (max-width: 600px) {
  #topBarMobile {
    display: flex;
  }
  #sideBarMobile {
    display: flex;
  }
  #sidebar {
    display: none;
  }
  
  #mainBody {
    padding-top:7em;
    margin-left:0;
  }

  .imgShowcase:hover {
    opacity: 1;
    transition: none;
    transform: none;
  }
  .closebtn {
    font-size: 5em;
  }
  #imgPreview {
    margin-top:8em;
  }
}