* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  background-color: black; /* same as #ffcc99 */
  font-size: 100%;
  font-family:'Roboto',verdana;
  color: white;
}

a { text-decoration: none; color: #FFCBE0;}
a:visited { text-decoration: none; color: #FFCBE0;}
a:hover { text-decoration: none; color:#D0A5B7; }
a:focus { text-decoration: none; color:#D0A5B7; }
a:active { text-decoration: none;  color: #D0A5B7;}

#sidebar {
  position: fixed; /* fixed postion prevents scrolling*/
  font-weight: bold;
  color: #FFCBE0;
  font-size:1vw; /*vw font size - viewport width changes on browser size*/
  margin-left: 1vw;
  height: 100%;
  /*testing purposes*/
  /* border: thin solid white; */
}

#title {
  font-size:5vw;
}

#sidebarInfo {
  position: absolute; /* allows 'about me' and 'contact' to be put on bottom left corner always*/
  bottom: 1vw;
  width: 50%;
}

#images {
  padding-top:6%;
  padding-left:18%;
}

img {
  width: auto;
  height: 30em;
  border-radius: 2%;
  padding: .2vw;
}
